/* Google Fonts import copied from the font-selection page */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Space+Mono&display=swap');

:root {
  /* css variables with theme colors,
    names have to start with "--" */
  --lola: #dacad0;
  --pine-glade: #bfc985;
  --raw-sienna: #D77C4F;
  --black: rgb(0, 0, 0);
  --white: white;
}

body {
  background: var(--lola);
  /* these become the default font settings for the reset of the page */
  font-family: 'Space Mono', monospace;
  position: relative;
}

#container {
  position: relative;
  display: inline-block;
}

#header {

  /* Color and font settings for the header */
  color: var(--nomad);
  font-family: 'Amatic SC', 'Space Mono', monospace;
  font-size: 13vw;
  line-height: 1.25;

  position: absolute;
  top: 15px;
  left: 20px;
  color: white;
}


#bouquet-image {
  /* for grid mode, the area for this element */
  grid-area: image;

  /* give the image a defined height and width,
     then cover will make sure it covers that area */
  object-fit: center;
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
}

#lead {
  /* Font settings for the lead */
  font-size: 2.5vw;
  line-height: 1.25;

  z-index: 100;
  position: absolute;
  color: white;
  font-weight: bold;
  left: 30vw;
  bottom: 3vw;
}

#signup-form {
  /* Make the form go the full width so background color goes to the edges */
  width: 100%;
  background: var(--irish-coffee);
  
  /* Add padding on all sides */
  padding: 60px;
}

label, input, button {
  /* Each form element should take up own line */
  display: block;
  /* Go wide, but not wider than 450px */
  width: 100%;
  max-width: 450px;
}

label {
  /* Color and font settings for label */
  color: var(--nomad);
  font-size: 1.3vw;
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
}

input {
  /* size up the input box */
  height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1.2rem;
  padding-left: 75%;
  padding-right: 10px;
}

button {
  /* Color and font settings for label */
  /* Bright color for Call To Action (CTA) */
  background: var(--pine-glade);
  color: var(--white);
  border: 0;
  padding: 20px;
  font-family: 'Space Mono', monospace;
  font-size: 1.5rem;
}